<div>
  <h2>Media</h2>
  <table class="table table-hover">
    <thead>
      <tr>
        <th scope="col">Id</th>
        <th scope="col">Name</th>
      </tr>
    </thead>
    <tbody>
      <% @media.each do |medium| %>
      <tr>
        <th scope="row"><%= medium.id %></th>
        <td><%= link_to "#{medium.name}", medium.url, class: "link-dark" %></td>
      </tr>
      <% end %>
    </tbody>
  </table>
</div>